@import "../abstracts/mixins";
@import "../abstracts/variables";


.header {
  top: 0;
  left: 0;
  width: 100%;

  position: fixed;
  background: rgba(37, 54, 65, 0.5);
  z-index: 5;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  @media (max-width: $breakpoint-lg) {
    padding: 18px 0;
    background: rgba(36, 66, 53, 1);
  }
  @media (max-width: $breakpoint-md) {
    height: auto;
  }

  &:not(&.bg) {

    & .logo {
      &.black {
        display: none;
      }

      &.light {
        display: block;
      }

    }

    @media (max-width: $breakpoint-lg) {
      background: rgba(37, 54, 65, 0.5);
      &.open-menu {
        background: #1f3133;
      }
    }

    &.scrolled {
      & .logo {
        &.black {
          display: block;
        }

        &.light {
          display: none;
        }

      }
    }
  }

  & .container {
    @media (max-width: $breakpoint-lg) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  & .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;

    &__item {
      background: transparent;
      @media (max-width: $breakpoint-xl) {
        width: 30px;
        height: 30px;

        & i {
          font-size: 15px;
        }
      }

      &:hover {
        & i {
          color: #44693D;
        }
      }
    }

    @media (max-width: $breakpoint-lg) {
      width: 100%;
    }
  }

  &__main {
    transition: all ease-out .5s;
    padding: 12px 0;
    @media (max-width: $breakpoint-lg) {
      order: 2;


      display: grid;

      gap: 40px;
      & * {
        &:nth-child(1) {
          order: 1;
        }

        &:nth-child(2) {
          order: 3;
        }

        &:nth-child(3) {
          order: 2;
        }

        &:nth-child(5) {
          order: 4;
        }

        &:nth-child(6) {
order:5;
        }

        &:nth-child(6) {

        }
      }


    }

    & .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-transition: .4s all;
      transition: .4s all;
      visibility: visible;
      opacity: 1;
      gap: 35px;
      @media (max-width: $breakpoint-xl) {
        gap: 15px;
      }
      @media (max-width: $breakpoint-lg) {
        display: grid;
        gap: 0;
        width: 100%;
        text-align: center;
        padding-bottom: 45px;
        border-bottom: 1px solid rgba(255, 255, 255, .2);
      }

      &-item {
        & a {
          font-size: 20px;
          line-height: 1;
          font-weight: 400;
          @include transition(.5);
          @media (max-width: $breakpoint-xl) {
            font-size: 18px;
          }
          @media (max-width: $breakpoint-lg) {
            font-size: 20px;
            color: $white-color;
          }

          &:hover {
            color: #FDD66D;
          }
        }
      }
    }


    & .btn-transparent {

      border-color: $white-color;

      & .btn__text {
        color: $white-color;
      }

    }

    & .contact {
      &-links {
        &__wrapp {

        }

        & a, & li, &__title {
          font-size: 18px;
          font-weight: 400;
          color: $white-color;

          @media (max-width: $breakpoint-xl) {
            font-size: 16px;
          }
          @media (max-width: $breakpoint-lg) {
            font-size: 18px;
          }


          @media (max-width: $breakpoint-lg) {
            color: rgba(255, 255, 255, 1);
          }
        }

        &__wrapp {
          @media (max-width: $breakpoint-lg) {
            width: 100%;
          }
        }
      }
    }

  }

  &__bottom {
    padding: 7px 0;
    @media (max-width: $breakpoint-lg) {
      padding: 0;
      order: 1;
    }

    &:after {
      content: '';
      width: 100vw;
      position: absolute;
      height: 100%;
      left: calc(50% - 50vw);;
      top: 0;
      background: #192D24;
      z-index: -1;
      @media (max-width: $breakpoint-lg) {
        display: none;
      }

    }

    &-inner {
      @media (max-width: $breakpoint-lg) {
        width: 100%;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }
    }


    & .menu {
      gap: 46px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-transition: .4s all;
      transition: .4s all;
      visibility: visible;
      opacity: 1;
      @media (max-width: 1300px) {
        gap: 30px;
      }
      @media (max-width: $breakpoint-xl) {
        gap: 15px;
      }
      @media (max-width: $breakpoint-lg) {
        display: grid;
        gap: 0;
        width: 100%;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 45px;

      }

      &-item {
        position: relative;
        @media (max-width: $breakpoint-lg) {
          padding: 30px 0;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }

        &:not(&:last-child) {
          &:after {

            @media (min-width: $breakpoint-xl) {
              content: '';
              width: 6px;
              height: 6px;
              border-radius: 100%;
              background: rgba(255, 255, 255, 1);
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: -26px;
            }
            @media (max-width: 1300px) {
              right: -17px;
              width: 4px;
              height: 4px;
            }
          }
        }


        & a {
          font-size: 20px;
          line-height: 1;
          font-weight: 400;
          color: $white-color;
          @include transition(.5);
          @media (max-width: $breakpoint-xl) {
            font-size: 18px;
          }
          @media (max-width: $breakpoint-lg) {
            font-size: 20px;
          }

          &:hover {
            color: #FDD66D;
          }
        }
      }
    }
  }

  & .logo {
    height: 100%;

    &__wrap {
      width: 183px;
      height: 71px;
      transform: scale(1);
      transition: transform ease-out .5s;
      @media (min-width: 1400px) {
        width: 223px;
      }
      @media (max-width: $breakpoint-xl) {
        width: 130px;
        height: auto;
      }
      @media (max-width: $breakpoint-lg) {
        width: 178px;
        height: 44px;
      }
    }
  }

  & .burger {
    display: flex;
    cursor: pointer;
    width: 30px;
    height: 20px;
    justify-content: space-between;
    flex-direction: column;
    @include transition(.3);


    & > span {

      height: 4px;
      background-color: rgba(226, 241, 231, 1);
      border-radius: 0;
      @include transition(.5);
      z-index: 999;
      width: 100%;

      &:nth-child(2) {
        width: 80%;
        margin-left: auto;
      }

      &:nth-child(3) {
        width: 60%;
        margin-left: auto;
      }
    }


    &__wrap {
      display: none;
      @media (max-width: $breakpoint-lg) {
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
      }

      &.active {
        & .burger {
          & span {
            width: 100%;
            background-color: rgba(226, 241, 231, 1);

            &:nth-child(1) {
              transform: translateY(8px) rotate(45deg);
            }

            &:nth-child(2) {
              opacity: 0;
            }

            &:nth-child(3) {
              transform: translateY(-8px) rotate(-45deg);
            }
          }
        }
      }
    }
  }

  &__inner {
    @media (max-width: $breakpoint-lg) {
      height: calc(100vh - 80px);
      background-color: rgba(25, 45, 36, 1);
      position: fixed;
      top: 80px;
      transition: all 1.2s ease;
      z-index: 2;
      width: 100%;
      right: -100%;

      overflow-y: auto;
      overflow-x: hidden;
      display: grid;
      padding: 0 20px;

    }
  }

  &.open-menu {
    background: rgb(31, 49, 51);

    & .header__inner {
      @media (max-width: $breakpoint-lg) {

        right: 0;
        transition: all .5s ease;
      }
    }
  }

  &.bg, &.scrolled {

    & .logo {
      &.black {
        display: block;
      }

      &.light {
        display: none;
      }

    }

    @media (min-width: $breakpoint-lg) {
      background: $white-color;

      & .header__main {
        & .contact-links {
          & a, & li, &__title {
            color: rgba(17, 26, 23, 1);
          }
        }


        & .menu-item {
          & a {
            color: red;
          }
        }
      }

      & .btn {
        &-transparent {
          background: transparent;
          border-color: $accent-color;

          & .btn {
            &__icon {
              background: $accent-color;

              & i {
                color: $white-color;
              }
            }

            &__text {
              color: $accent-color;
            }
          }
        }
      }
    }
  }
}


